# Terraform files we don't want to commit
*.tfstate
*.tfstate.*


.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

# macOS system files.
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.apdisk

# Editor swap files
*.swp
*.swo
