# Set variable file for project and region values. 
# This file is automatically loaded by Terraform when you run 
# the terraform commands, so you don't have to specify the 
# variable values on the command line each time.

# Set value for the project identification number.

project = "<EXAMPLE_PROJECT_ID>"

# Set value for the region where you intend to deploy your resources.

region = "<EXAMPLE_REGION>"
